<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>


<body>
    <div class="container">

        <img class="card-img offset-md-5 col-md-2" src="~/images/LOGO-VALAREP-300x162.jpg" alt="logo" />

        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>