
@{
    ViewData["Title"] = "Bienvenue";
}


<h1 class="text-center mt-4 mb-4">Bienvenue @Model.User.Firstname @Model.User.Name</h1>

<p class="text-center">Vous êtes connecté en tant que @Model.User.Role <br /><a class="justify-content-center" asp-area="" asp-controller="User" asp-action="Logout">Se déconnecter</a></p>



<div class="col-md-4 col-xs-12 card">

    <div class="card-header">
        <h5>Liste de vos formations:</h5>
    </div>
    <div class="card-body">
        @if (Model.Formations.Count == 0)
        {
            <p>Pas de formation enregistrée...</p>
        }
        else
        {
            <ul>
                @foreach (Formation f in Model.Formations)
                {
                    <li>@f.Name</li>
                }
            </ul>
        }
    </div>

    @if ((Model.User.Role == "Admin") || (Model.User.Role == "Directeur"))
    {
        <div class="card-footer">
            <a asp-area="" asp-controller="Formation" asp-action="AddFormation">Ajouter une formation</a>
        </div>
    }



</div>

